<h2>Admin Panel</h2>

<ul>
    <li routerLink="/social" routerLinkActive="highlight">
        <span class="icon material-symbols-outlined">
            team_dashboard
        </span>
        <span class="data">
            Social Media
        </span>
    </li>
    <li routerLink="/sales" routerLinkActive="highlight">
        <span class="icon material-symbols-outlined">
            real_estate_agent
        </span>

        <span class="data">
            Sales
        </span>
    </li>
    <li routerLink="/progression" routerLinkActive="highlight">
        <span class="icon material-symbols-outlined">
            list
        </span>

        <span class="data">
            Progression
        </span>
    </li>
    <li routerLink="/abc" routerLinkActive="highlight">
        <span class="icon material-symbols-outlined">
            list
        </span>

        <span class="data">
            ABC
        </span>
    </li>
</ul>