.row {
    display: flex;
    flex-direction: row;
}

.mat-width {
    max-width: 20rem;
}

.three-d-card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.column {
    display: flex;
    flex-direction: column;
}

.mat2-width {
    max-width: 40rem;
}

.mat3-width {
    max-width: 50rem;
}

.chart {
    height: 15rem;
    width: 40rem;
}