<div class="row space">

    <div style="margin-right: 90px; margin-left: 1.6rem">
        <mat-card class="mat-width">
            <mat-card-content class="three-d-card">
                <h3 style="margin-bottom:35px"><strong>Total Revenue</strong></h3>
                <div class="row">
                    <p style="font-size: 2rem; margin-top: 12px"> ₹{{totalRevenue}}</p>
                    <div class="column" style="margin-top: 5px;margin-left: 10px">
                        <span style="font-weight: 400;color: green">↑ 4.5%</span>
                        <small>From Last Week</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div style="margin-right: 90px;">
        <mat-card class="mat-width">
            <mat-card-content class="three-d-card">
                <h3 style="margin-bottom:35px"><strong>Total Customer</strong></h3>
                <div class="row">
                    <p style="font-size: 2rem;margin-top: 12px">752,589</p>
                    <div class="column" style="margin-top: 5px;margin-left: 35px">
                        <span style="font-weight: 400;color: green">↑ 4.5%</span>
                        <small>From Last Week</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div style="margin-right: 90px;">
        <mat-card class="mat-width">
            <mat-card-content class="three-d-card">
                <h3 style="margin-bottom:35px"><strong>Total Transation</strong></h3>
                <div class="row">
                    <p style="font-size: 2rem;margin-top: 12px">753</p>
                    <div class="column" style="margin-top: 5px;margin-left: 95px">
                        <span style="font-weight: 400;color: red">↓ 4.5%</span>
                        <small>From Last Week</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="mat-width">
            <mat-card-content class="three-d-card">
                <h3 style="margin-bottom:35px"><strong>Total Product</strong></h3>
                <div class="row">
                    <p style="font-size: 2rem;margin-top: 12px">752</p>
                    <div class="column" style="margin-top: 5px;margin-left: 98px">
                        <span style="font-weight: 400;color: green">↑ 4.5%</span>
                        <small>From Last Week</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>

<div style="margin-top: 20px; margin-left: 25px" class="row">
    <div style="margin-right:30px">
        <mat-card class="mat2-width">
            <mat-card-content class="three-d-card">

                <div class="row" style="margin-left: 30px;">

                    <div style="margin-right: 10px;">

                        <div style="margin-left: 15px; margin-top: 25px">
                            <h2>Product Sales Statics</h2>
                        </div>

                        <div class="row">
                            <div style="margin-left: 10px;">
                                <h3 style="margin-bottom: 1px;">➤ Product 1</h3>
                                <h1 style="margin-bottom: 1px; margin-left:18px">₹{{amount[0]}}</h1>
                                <h3 style="margin-left:18px">{{salesNumber[0]}} sales</h3>
                            </div>
                            <div style="margin-left: 30px;">
                                <h3 style="margin-bottom: 1px;">➤ Product 3</h3>
                                <h1 style="margin-bottom: 1px;margin-left:18px">₹{{amount[1]}}</h1>
                                <h3 style="margin-left:18px">{{salesNumber[1]}} sales</h3>
                            </div>
                        </div>
                        <div style="margin-left: 10px;">
                            <h3 style="margin-bottom: 1px;">➤ Product 2</h3>
                            <h1 style="margin-bottom: 1px;margin-left:18px">₹{{amount[2]}}</h1>
                            <h3 style="margin-left:18px">{{salesNumber[2]}} sales</h3>
                        </div>

                    </div>


                    <div style="width: 300px; height: 300px">
                        <canvas id="pie-chart"></canvas>
                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="mat3-width">
            <mat-card-content class="three-d-card">
                <div>
                    <canvas id="curv-chart" style="width: 40rem; height: 18.7rem"></canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
