.three-d-card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.mat2-width {
    width: 42rem;
}

.mat-width{
    width: 45rem;
}

.example-card {
    max-width: 100%;
}

.title h3 {
    margin-bottom: 7px;
}

.three-d-card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.div-mrg {
    display: flex;
    flex-direction: row;
    margin-left: 13px;
}

.fbox {
    width: 49.5%;
    border-right: 1px dotted black;
}

.div-btm {
    margin-bottom: 25   px;
}

.amount {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}