<div>

    <div style="margin-top: 15px;" class="center">
        <h2>Create Account</h2>
    </div>

    <hr>

    <form [formGroup]="detailsForm">
        <div class="row center" style="margin-top: 1rem;">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="Name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email">
                </mat-form-field>
            </div>
        </div>
        
        <hr>

        <div class="center" style="margin-top: 15px;">
            <h2>Social Media Info</h2>
        </div>

        <div class="row center" style="margin-top: 5px;">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="followers inc. in jan">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="followers inc. in fab">
                </mat-form-field>
            </div>
        </div>

        <div class="row center">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="followers inc. in march">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="followers inc. in april">
                </mat-form-field>
            </div>
        </div>

        <div class="row center">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="followers inc. in may">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="followers inc. in june">
                </mat-form-field>
            </div>
        </div>

        <div class="row center">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="% of male followers">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="% of female followers">
                </mat-form-field>
            </div>
        </div>

        <div class="row center">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="no of followers in 2000">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="no of followers in 2005">
                </mat-form-field>
            </div>
        </div>

        <div class="row center">
            <div style="margin-left: 1.2rem; margin-right:1rem">
                <mat-form-field>
                    <input type="text" matInput placeholder="no of followers in 2010">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="no of followers in 2015">
                </mat-form-field>
            </div>
        </div>

        <div class="center">
            <mat-form-field>
                <input type="text" matInput placeholder="no of followers in 2020">
            </mat-form-field>
        </div>

    </form>
</div>